*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imagen{
    height: 75px;
    position: absolute;
    left: 0;
}
.h2{
    display: inline-block;
    text-align: center;
    margin-top: 20PX;
}
.h2-1{
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
}
.img-banner{
     margin-left: 70px;
     margin-top: 70px;
     border-radius: 30%;
  
}
header{
    height: 75px;
    text-align: center;
    
}
.section1{
    background-color: gray;
    height: 1300px;
}
.personas{
    position: absolute;
    bottom: -700px;
    left: 0;
}
.section2{
    
    height: 1400px;
}
.text1 h1{
    display: inline-block; 
    font-size: 70px;   
    left: 740px; 
    position: relative;
}
.text1 h3{
    width: 700px;
    position: relative;
    left: 800px;
    height: 500px;
   
    font-size: 35px;
}
.text1{
    
    color: white;
}
.logo{
   position: absolute;
   left: 350px;
   top: 850px;
   height: 300px;

}